@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Font Relógio */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  /* scroll-padding: 30px; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 90vh;
  background: url("../assets/imgs/pexels-elevate-1267320.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  div {
    width: 500px;
  }

  .texts {
    /* backdrop-filter: blur(10px);
    border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid #1E0600; */

    .title {
      font-size: 4.5rem;
      font-weight: 400;
      color: #1E0600;
      letter-spacing: .7rem;
    }

    p {
      text-align: center;
      font-size: 2rem;
      color: #1E0600;
    }

    span {
      font-weight: bold;
      margin-top: 50px;
      color: #1E0600;
    }
  }

  .teste {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    h3 {
      margin: 10px 0;
    }

    .carrosselImages {
      display: flex;
      overflow: scroll;
      gap: 5px;
      width: 400px;

      img {
        border-radius: 10px;
        width: 100%;
      }
    }
  }
}

.container {

  .apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;

    h2 {
      color: #555;
      margin-bottom: 10px;
      font-size: 2rem;
    }

    .description {
      text-align: center;
      margin-bottom: 50px;
      color: #222;
      font-size: 1.3rem;
    }

    .links {
      display: flex;
      justify-content: space-between;
      width: 800px;

      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #444;
        text-decoration: none;
        font-size: 1.4rem;

        .line {
          display: block;
          width: 100px;
          height: 1px;
          background-color: #444;
          margin-bottom: 10px;
        }

        .clock {
          font-size: 2.4rem;
          font-family: "Bitcount Grid Double", system-ui;
        }
      }
    }
  }

  .block {
    display: flex;
    gap: 50px;
    padding: 100px;
    width: 100%;

    .text {
      font-size: 1.2rem;
      color: #aaa;
    }

    .colorblack {
      color: #444;
    }

    .image {
      width: 700px;

      img {
        width: 100%;
      }
    }

    &.cafeDaManha,
    &.cafeDaTarde {
      background-color: #444;
    }


  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  gap: 20px;
  background-color: #444;

  h2 {
    color: #aaa;
    font-size: 2.5rem;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      font-size: 1.4rem;
      display: flex;
      gap: 9px;
      align-items: center;
      color: #fff;
      transition: .5s;

      &:hover {
        color: #164db3;
      }
    }
  }
}